
<h1>Database Table</h1>

<br />
<hr />

<h3>Database: <%= @db.name %> </h3>

<br />

<h4> &nbsp; Table: <%= @table_name %></h4>

<br />


<p>
  <div id="col-overview">
    <h6>Table column overview:</h6>

    <br />

    <% if @columns.blank? %>
        No columns found
    <% else %>
        <table>
            <% @columns.each do |col| %>
                <tr>
                    <td>
                        <%= col.name %>
                    </td>
                    <td>
                        <%= link_to "Details", db_table_path(:db_id => @db.id, :table_name => @table_name, :col_name => col.name) %>
                    </td>
                </tr>
            <% end %>
        </table>

        <br />
        <br />
        <hr />
        <%= link_to "Show Values", db_tables_path(:db_id => @db.id, :table_name => @table_name, :index_action => "show_data") %>
    <% end %>
  </div>
</p>

