
<h1>Table Details</h1>

<br />
<hr />

<div id="table-details-db-title">
    <h3>Database: <%= @db.name %></h3>
</div>

<hr />

<h4>
    <span style="font-style:italic;">Table: <%= @table_name %></span>
</h4>

<br />


<p>
    <div id="table-details">
        <%= paginate(@table_rows) %>

        <br />

        <table cellspacing="5" cellpadding="5" style="display: inline; max-width: 50%">
            <tr>
                <%# @table_rows[0].attributes.keys.each do |k| %>
                <%# @table_rows.attributes.keys.each do |k| %>
                <% @table_rows.column_names.each do |col_name| %>
                    <th align="middle">
                        <%= col_name %>
                    </th>
                <% end %>
            </tr>


            <% @table_rows.each do |row| %>
                <tr>
                    <%# row.attributes.values.each do |v| %>
                    <% row.attributes.values.each do |v| %>
                        <td align="left">
                            <%#= row.attributes.inspect.to_s %>
                            <%= v %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </table>

        <br />
        <br />
        <br />
        <br />
        <br />

        <%= paginate(@table_rows) %>
    </div>

    <br /><br /><br />
</p>

    <br /><br /><br />

