


<h1>Column Details</h1>

<br />
<hr />

<p>
  <div id="column-details">
    <table>
        <caption>Column: <%= @column_object.name %>
        <tr>
            <th align="left">
                Rails Type
            </th>
            <td>
                <%= @column_object.type || "N/A"%>
            </td>
        </tr>
        <tr>
            <th align="left">
                SQL Type
            </th>
            <td>
                <%= @column_object.sql_type || "N/A" %>
            </td>
        </tr>
        <tr>
            <th align="left">
                Primary Key
            </th>
            <td>
                <%= @column_object.primary || "N/A" %>
            </td>
        </tr>
        <tr>
            <th align="left">
                Precision
            </th>
            <td>
                <%= @column_object.precision || "N/A" %>
            </td>
        </tr>
        <tr>
            <th align="left">
                Scale
            </th>
            <td>
                <%= @column_object.scale || "N/A" %>
            </td>
        </tr>
    </table>

    <br />

    <div id="ajax-data">
	<div id="result" style="height:50px"> &nbsp;  
          <a href="javascript: lookupMax('<%= @column_object.name %>', '<%= @db.id %>', '<%= @table_name %>');">Maximum</a>
        </div>
    </div>

  </div>
</p>

