<h1>Databases</h1>

<p>
    <table id="database-index-list" class="zebra-striped">
        <thead>
            <tr>
                <th>&raquo; Database Name</th>
            </tr>
        </thead>

        <tbody>
            <% @dbs.each do |db| %>
                <tr>
                    <td>
                        &mdash; <%= db.name %>
                    </td>
                    <td>
                        <!-- <button class="btn info">Show</button> -->
                        <a href="/dbs/<%= db.id %>" class="btn info">Show</a>
                    </td>
                </tr>
            <% end %>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
        </tbody>
    </table>


    <br />


    <span id="add-db-link">
        &raquo; <%= link_to "Add Database", dbs_new_path %>
    </span>
</p>
