
<div id="dbs-new">
    <%= form_tag("/dbs/create", :method => "post") do %>
        <label name="db_type">Database Type</label>
        <input type="text" name="db_type" disabled="disabled" value="PostgreSQL" />

        <hr />

        <label name="db_name">Database Name</label>
        <input type="text" name="db_name" value="" />

        <hr />

        <label name="db_username">Username</label>
        <input type="text" name="db_username" value="" />

        <hr />

        <label name="db_password">Password</label>
        <input type="password" name="db_password" value="" />

        <hr />

        <label name="db_host">Host</label>
        <input type="host" name="db_host" value="localhost" />

        <hr />

        <input type="submit" value="Store" />
    <% end %>
</div>

