
<h1>View Database Tables</h1>

<p>
    <h3>Database: <%= @db.name %></h3>

    <div id="table-names">
        <table>
            <thead>
            </thead>
            <tbody>
                <% if !@table_names.blank? %>
                    <% @table_names.each do |table_name| %>
                        <tr>
                            <td>
                                <%= link_to table_name, db_tables_path(:db_id => @db.id, :table_name => table_name) %>
                            </td>
                        </tr>
                    <% end %>
                <% else %>
                    <div id="no-tables-found-message">
                        No tables found for this database
                    </div>
                <% end %>
            </tbody>
        </table>
    </div>
</p>

