
<h1>Past Queries</h1>

<br />
<hr />


<br />


<p>
    <div id="query-details">

        <br />

        <table cellspacing="5" cellpadding="5" style="display: inline; max-width: 50%">
            <tr>
                <th align="left">
                    Database
                </th>
                <th align="left">
                    Table
                </th>
                <th align="left">
                   &nbsp;
                   &nbsp;
                </th>
                <th align="left">
                    Timestamp
                </th>
            </tr>


            <% @queries.each do |query| %>
                <tr>
                    <td align="left">
                         <%= query.db.name %>
                    </td>
                    <td align="left">
                         <%= query.table_name %>
                    </td>
                    <td align="left">
                         &nbsp;
                         &nbsp;
                    </td>
                    <td align="left">
                         <%= query.created_at %>
                    </td>
                </tr>
            <% end %>
        </table>

        <br />

    </div>

    <br /><br /><br />
</p>


<br /><br /><br />

