
$myLightYellow: #D5FF24;
$myOrange: #FF6824;

@import "bootstrap";

.navbar-inner {
  background-color: #4CA60C;
  background-image: none;
}

ul.nav li a {
  color: $myLightYellow !important;
}


div.container a#logo {
  color: #FF6824;
  font-size: 1.4em;
  font-variant: small-caps;
  /* text-transform: uppercase; */
  margin-top: 5px;
}


span#add-db-link {
  background-color: $myOrange;
  padding: 2px 150px 2px 5px;
}



table#database-index-list {
  background-color: $myLightYellow;

  border-left: 10px solid $myOrange;

  tbody {

    tr td {
      padding: 5px 50px;
    }

    &:after {
      content: "";
      display: block;
      height: 30px;
    }
  }

  thead:before {
    content: "";
    display: block;
    height: 50px;
  }

}

div#dbs-new {
  background-color: $myOrange;
  padding: 30px 50px; 
  width: 50%;
}

div#col-overview {
  background-color: $myOrange;
  margin: 20px 50px;
  padding: 20px 50px 100px 50px;
  width: 30em;
}

div#column-details {
  background-color: $myOrange;
  margin: 20px 50px;
  padding: 20px 50px 150px 50px;
  width: 30em;
}


div#table-details-db-title {
  background-color: $myLightYellow;
  padding: 5px;
  width: 400px;
}


