// Place all the styles related to the DbTable controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$myLightYellow: #D5FF24;
$myOrange: #FF6824;

div#table-details {
  background-color: $myLightYellow;
  border-left: 10px solid $myOrange;
  padding: 10px 30px;
  width: 80%;

  &:after {
    content: "";
    display: block;
    height: 50px;
  }

}


body > div > h1 {
  text-shadow: 3px 3px 10px #000;
  animation: anim1 3s;
  -moz-animation: anim1 3s;
  -webkit-animation: anim1 3s;
}

body > div > h1:before {
  content: "\00BB";
}


table tr > th {
  text-shadow: 0px -1px 1px #999; 
}



@keyframes anim1 {
  from {background: orange;}
  to   {background: white;}
}

@-moz-keyframes anim1 {
  from {background: orange;}
  to   {background: white;}
}

@-webkit-keyframes anim1 {
  from {background: orange;}
  to   {background: white;}
}

