// Place all the styles related to the RecentQueries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$myLightYellow: #D5FF24;

div#query-details {
  background-color: $myLightYellow;
  padding: 10px 30px;
  width: 50%;

  &:after {
    content: "";
    display: block;
    height: 50px;
  }

  td:first-child { width:150px; }

}


